<%= form_for([@list, @list.items.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.select :state, [ 'Not Started', 'In Progress', 'Complete' ], :prompt => 'Select One' %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>